.header__wrapper{
    height: 80px;
    width: 100%;
    background-color: black ;
    color: white;
}
.header__wrapper{
    display: flex;
    justify-content: space-around;
    color: white;
    align-items: center;
    gap: 1rem;
    .header__logo{
        
        &:hover{
            color: orange;
        }
    }
    ul{
            display: flex;
            gap: 1rem;
            list-style-type: none;
        li{
            a{
                text-decoration: none;
                color: white;
                list-style-type: none;
                &:hover{
                    color: orange;
                }
            }
        }
       
    }
    .header__cart{
      ul{
        display: flex;
        gap: 1rem;
      }
      a{
        text-decoration: none;
        color: white;
        &:hover{
            color: red;
        }
      }
    }

}