.container__shoes{
    margin-top: 10rem;
    .container__wrapper{
        .container__title{
            display: flex;
            justify-content: center;
            font-size: 35px;
        }
        .container__desc{
            margin-top: .5rem;
            display: flex;
            justify-content: center;

        }
        .container__boxes{
           
           margin-top: 5rem;
            display: grid;
            grid-template-columns: auto auto auto auto;
            gap: 20px;
            width: 100%;
            justify-content: center;
            
        
            .container--box{
                width: 250px;
                height: 320px;
                background-color: grey;
                padding: 10px ;
                // display: flex;
                justify-content: center;
                border-radius: 20px;
                // flex-direction: column;
                position: relative;
                
                .child__container--box{
                    width: 240px;
                    height: 165px;
                    background-color: white;
                    // padding: 2px 2px 0px 2px;
                    border-radius: 20px;
                    overflow: hidden;
                    padding: 3px;
                    
                    
                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        // display: flex;
                        // justify-content: center;
                        // align-items: center;
                    }

                }
                .child__container--box-type{
                    // margin-top: 50rem;
                    margin-top: 1rem;
                    margin-left: .5rem;
                   
                    
                    span{
                        color: white;
                    }
                }
                .child__container--box-title{
                    margin-top: 1rem;
                    margin-left: .5rem;

                    p{
                        b{
                            color: white;

                        }
                    }
                }
                .child__container--box-stars{
                    margin-top: 1rem;
                    // margin-left: .5rem;

                    i{
                        font-size: 20px;
                        color: yellow;
                        margin-left: .5rem;
                    }
                }
                .child__container--box-cash--cart{
                    margin-top: .5rem;
                    margin-left: .5rem;
                    // display: flex;
                    // gap: 8rem;
                    // justify-content: space-around;
                    p{
                        
                        color: white;
                    }
                    align-items: center;
                    .cart{
                        i{
                            font-size: 30px;
                            color: black;
                        }
                        color: black;
                        background-color: white;
                        width: 45px;
                        height: 45px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border-radius: 50%;
                        position: absolute;
                        bottom: 10px;
                        right: 10px;
                    }
                }
                
            }
        }
    }
}