.footer__wrapper{
    margin-top: 15rem;
    height: 320px;
    background-color: black;
    display: flex;
    justify-content:space-around;
    align-items: center;
    .item1{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        .footer_logo{
            color: white;

        }
        .footer_contact{
            color: white;
        }
        .footer_address{
            color: yellowgreen;
        }
        .footer_phone{
            color: yellowgreen;

        }
        .footer_time{
            color: yellowgreen;
        }
    }
    .item2{
        
        display: flex;
        flex-direction: column;
        color: white;
        gap: 1rem;
        p{
            a{
                text-decoration: none;
                color: white;
                &:hover{
                    color: greenyellow;
                }

            }
        }
    }
    .item3{
        
        display: flex;
        flex-direction: column;
        color: white;
        gap:1rem;
        p{
            a{
                text-decoration: none;
                color: white;
                &:hover{
                    color: greenyellow;
                }

            }
        }

    }
    .item4{
        margin-top: 2rem;
        display: flex;
        flex-direction: column;
        .app{
            color: white;

        }
        .app_desc{
            color: white;
        }
        .app_box_wrapper{
            margin-top: 1rem;
            display:flex;
            gap: .4rem;
            flex-direction: row;
            .appStore_box{
                
                width: 180px;
                height: 60px;
                // border: 1px solid white;
                background-color: white;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 10px;

                .appStore_logo{
                    color: black;
                    font-size: 40px;
                }
                .appStore_text_wrapper{
                    display: flex;
                    flex-direction: column;
                    color: black;
                }
            }
            .playStore_box{
                width: 180px;
                height: 60px;
                background-color: white;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 10px;
                .playStore_logo{
                    color: black;
                    font-size: 40px;

                }
                .playStore_text{
                    color: black;
                    font-size: 20px;
                }
            }
        }
        .payment_wrapper{
            
            .payment_text{
                margin-top: 1rem;
                color: white;
            }
            .payment_logo{
                margin-top: 1rem;
                display: flex;
                gap: .4rem;
                img{
                    width: 52px;
                    height: 52px;
                    border-radius: 50%;
                }
            }
        }
    }
}